QWidget { background-color: transparent; }

QDialog { 
    background-image: url('images/background3.png'); 
    border-radius-bottom
    }
QPushButton {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #5F84A2;
    background-color: #F0F0F0;
}
QPushButton::hover {
    background-color: #5F84A2;
    color: white;
}
#statusbar {
    background-color: gray;
    border-radius: 10px;
    color: white;
}